
<div class="grid grid-cols-1 items-stretch gap-2 md:grid-cols-2 items-stretch">
    @for (theme of themes(); track theme.id) {
        <app-theme-card [theme]="theme">
            <div buttons>
                @switch (mode) {
                    @case('subscribed'){
                        <button class="main-button" (click)="sub(theme)">Se désabonner</button>
                    }
                    @case ('unsubscribed') {
                        <button class="main-button" (click)="sub(theme)">S'abonner</button>
                    }
                    @default {
                        <button class="main-button" [disabled]="theme.subscribed" (click)="sub(theme)">{{theme.subscribed ? "Déja abonnée" : "S'abonner" }}</button>
                    }
                }
            </div>
        </app-theme-card>
    }
</div>

@if (themes().length === 0) {
    <div class="flex justify-center">
        <span>Aucun theme trouvé</span>
    </div>
}


 